/* GENERAL */

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.site-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.site-color{
  color: #DC7000;
}
.site-bg-color{
  background-color: #DC7000;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

.logo {
  width: 118px;
}
.site-form{
  max-width: 400px;
}

/* hero style start */
.hero{
  margin-top: 200px;
}
.site-form-style{
  max-width: 500px;
  height: 545px;
}
.pasword-btn{
  position: absolute;
  z-index: 10;
  top: 62px;
  right: 5px;
  width: 34px;
  height: 30px;
  background-color: transparent;
  border: 0;
  background-image: url("./images/show-password.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pasword-btn-active{
  top: 190px;
}

.sign-up{
  cursor: pointer;
}
.sign-in{
  cursor: pointer;
}

/* users hape */
.users-item{
  max-width: 340px;
  display: flex;
  flex-direction: column;
}
.blue-color{
  color:#243f50;
}
.item-bg {
  background-color: #EDE2D1;
}
.form-blue-bg {
  background-color: #79ABC9;

}
.blue-bg{
  background-color: #243f50;
}

.yellow-bg {
  background-color: #F0E9E7
}

/* admin page */
.input-name{
  border: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #243f50; 
}
.input-name::placeholder {
  color: #243f50;
}
.input-desc{
  border: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #243f50; 
}
.input-desc::placeholder {
  color: #243f50;
}
.input-img{
  border: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #243f50; 
}
.input-img::placeholder {
  color: #243f50;
}
.input-price{
  border: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #243f50; 
}
.input-price::placeholder {
  color: #243f50;
}
/* site carusel start */

.slick-list {
  overflow: hidden;
}
.slick-track{
  display: flex;
}
.site-list{
  max-width: 1906px;
}
.site-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 478px;
  min-width: 0;
  padding: 35px 39px 39px 35px;
  width: 378px !important;
}
.site-item:not(:last-child){
  margin-right: 20px;
  margin-left: 20px;
}
.site-item-link{
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 500;
  font-size: 14px;
  line-height: 187.5%;
  color: #DC7000;
}
.slick-dots{
  position: absolute;
  bottom: 33px;
  left: 0;
  right: 0;
}
.site-list .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-list .slick-dots li{
  position: relative;
  list-style: none;
  margin: 0 15px;
}

.site-list .slick-dots button{
  position: absolute;
  top: 8px;
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid  #243f50;
}
.site-list .slick-dots li.slick-active button{
  background-color: #243f50; 
}
